// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

html{
   
  // margin-right: calc(100vw - 100%);
  transition:all ease-in-out;
}
body {
margin: 0;
padding: 0;
// display:grid;
// justify-content:center;
// align-items:center;
height:100%;

// overflow-Y:scroll;

// &.home{
//   background: #F9F9F9;
// }
}

#page > .container{margin-top:2.5rem};

/*
  Admin Specific styles
*/
#wpwrap{
  background-color: #f1f1f1;
}
#admin-cards{
  font-size: 1em;
  .card{
    max-width: 100%;
  }
  .simple-dash-icons{
  font-size: 2em;
}
}
#adminmenu {
  li{
    color:white;
  }
}
/* Admin specific styles end */

*{
  margin:0;
  left:0;
  right:0;
}
.mobile-menu-parent.active-mobile{
  border-radius:0;
  transition:all 0s linear;
}
.mobile-menu-parent{
  overflow:hidden;
  z-index:99;
  border-radius:0;
  transition:all 0.3s linear;
.text-capital{
  text-transform:capitalize ;
}
.resize{
  min-height:35px !important;
  transition: all 0.5s ease-in-out;
}
  
 .menu-btn{
  background-color:white;
  border:0;
  width:50%;
  &:focus{
    outline:0 !important;
  }
}
  
  .side-arrow{
    &:after{
  font-family:'FontAwesome';
  content:"\f107";
      position:absolute;
  vertical-align:middle;
      margin-left:.5rem;
  transition:all 0.2s ease-in-out;
    }
  }

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active-mobile {
  transform: rotate(45deg);
}
.hamRotate180.active-mobile {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#bfbfbf;
  stroke-width:5.5;
  stroke-linecap:round;
}


.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active-mobile .top {
  stroke-dashoffset: -68px;
}
.ham4.active-mobile .bottom {
  stroke-dashoffset: -68px;
}

}
.desktop-resize{
  min-height:45px !important;
  transition: all 0.5s ease-in-out;
}
.wrapper{
  display:flex;
  justify-content:center;
  padding:2rem;
}
.card{
  border-radius:2%;
  img{border-radius:2% 2% 0 0;}
  .header a{
    color:#707070;
  }
  .btn-register{
    background-color:transparent;
    // &:hover{
    // }
  }
}
.text-muted{
  font-weight:400;
  font-style:italic;
}
a{
  text-decoration:none !important;
  color:inherit !important;
}
.card-body span.arrow:after{
  font-family:'FontAwesome';
  content:"\f106";
  vertical-align:middle; 
  transition:all 0.2s ease-in-out;
}


.card-body .collapsed span.arrow:after{
  font-family:'FontAwesome';
  content:"\f107";
  vertical-align:middle;
  transition:all 0.2s ease-in-out;
}

.icon-after-collapse{
  position: relative;
  &:after{
    font-family:'FontAwesome';
    font-size: smaller;
    left: calc(100% - 1rem);
    top: 35%;
    position: absolute;
    content:"\f107";
    vertical-align:middle; 
    transition:all 0.2s ease-in-out;
  }
}
.icon-after-collapse-clicked{
  
  &:after{
    font-family:'FontAwesome';
    font-size: smaller;
    left: calc(100% - 1rem);
    top: 35%;
    position: absolute;
    content:"\f107";
    vertical-align:middle; 
    transition:all 0.2s ease-in-out;
    transform:rotate(-180deg);
  }
}

.container strong{color:rgba(0,0,0,0.4);}

// @media only screen and (max-width:576px) {
  
  //   .card-body .footer{font-size:12.5px !important;}
  
  
  
  // }
  
@include media-breakpoint-down(sm) {
    .card-body .footer{font-size:12.5px !important;}
    .scrolling-wrapper-flexbox {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap !important;
      overflow-x: auto !important;
      -webkit-overflow-scrolling: touch !important;
      &::-webkit-scrollbar {
        display: none !important;
      }
      .card {
        max-width: 80vw;
        flex: 0 0 auto !important;
      }
    }
    
  
    ul#footer-menu, ul#filters{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap !important;
      overflow-x: auto !important;
      -webkit-overflow-scrolling: touch !important;
      &::-webkit-scrollbar {
        display: none !important;
      }
  
      li.menu-item{
        flex: 0 0 auto !important;
      }
      .active:after{
        content:" ";
        display: block;
        border-bottom: 2px solid black;
        margin-top: 5px;
      }
    }
    
 }
@include media-breakpoint-between(md, lg) { 
  .card-columns {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
    font-size:12.5px;
    
}
 }

 @include media-breakpoint-only(sm) { 
  .card-columns{
    column-count: 1;
      
  }
 }

@include media-breakpoint-down(md){
  .workshop-card{
    max-width: 100vw;
    width: 100%;
   }
}

@include media-breakpoint-up(lg){
  #nav-left{
    ul{
      li{
            border-right: 0.5px solid $border-green ;
        
            
      }
    }
  }
  
  #nav-right{
    ul {
      li{
        border-left:0.5px solid $border-green ;
        
      }
    }
  }
  
  #logo {
    width: 260px;
    position: relative;
  }
  .card-columns{
    
    .card{
      
      margin-bottom: 30px !important;
      .card-top-img{
        min-height:190px;
      }
    }
  }
} 


// @media only screen and (min-width:576px) and (max-width:1200px){
//   .card-columns {
//     -webkit-column-count:2;
//     -moz-column-count:2;
//     column-count:2;
    
// }
// }

nav{
  
    & div {
      & ul {
        & li {
          a{
            color:#505050;
            transition:transform 0.2s ease-in-out;
            &:hover{       
              color:#909090;
               transform: scale(1.05);
               transition:transform 0.2s ease-in-out;
            }

          } 
        }
      }
    }
  .dropdown-menu{
  min-width:max-content;
  overflow-x:hidden;
  overflow-y:auto;
}
  }

.collapseDropDown {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: all .5s cubic-bezier(0, 1, 0, 1);
  &.showCollapse {
    // display: inherit;
    max-height: 99em;
    transition: max-height .5s ease-in-out !important;
  }
}


#nav-left, #nav-right{
  > ul {
    > li {
      line-height:2.75rem;
      min-width: 128.5px;
      text-align: center;
  }
    a{
      transition:all 0.5s linear;
    }
    }
  .resize {
        padding-top:.15rem !important;
        padding-bottom:.15rem !important;
        transition:all 0.5s linear;
      }
  .dropdown-menu{
    text-align:left;
  }
}



// @media screen and (min-width: 992px) {
   // #nav-left{
   //   ul{
   //     li{
   //           border-right: 0.5px solid $border-green ;
        
            
   //     }
   //   }
   // }
  
   // #nav-right{
   //   ul {
   //     li{
   //       border-left:0.5px solid $border-green ;
        
   //     }
   //   }
   // }
 
   // #logo {
   //   width: 260px;
   //   position: relative;
   // }
   // .card-columns{
    
   //   .card{
      
   //     margin-bottom: 30px !important;
   //     .card-top-img{
   //       min-height:190px;
   //     }
   //   }
   // }
// }

.wrapper{
display:flex;
justify-content:center;
padding:2rem;
}
.card{
border-radius:2%;
img{border-radius:2% 2% 0 0;}
.header a{
  color:#707070;
}
.btn-register{
  background-color:transparent;
  
}
}
.text-muted{
font-weight:400;
font-style:italic;
}
a{
text-decoration:none !important;
color:inherit !important;
}
.card-body span.arrow:after{
font-family:'FontAwesome';
content:"\f106";
vertical-align:middle; 
transition:all 0.2s ease-in-out;
}


.card-body .collapsed span.arrow:after{
font-family:'FontAwesome';
content:"\f107";
vertical-align:middle;
transition:all 0.2s ease-in-out;
}

.container strong{color:rgba(0,0,0,0.4);}


// @media (min-width: 576px) and (max-width: 767.98px){
  
// }

// @media (min-width: 768px) and (max-width: 991.98px){
// .card-columns{
//   column-count: 2;
//   font-size:12.5px;
// }
// }

nav{
  & div {
    & ul {
      & li {
        a{
          color:#505050;
          transition:transform 0.2s ease;
          &:hover{       
            color:#909090;
             transform: scale(1.05);
             transition:transform 0.1s ease;
          }

        } 
      }
    }
  }
}


#nav-left, #nav-right{
> ul {
  
  .resize {
      padding-top:.35rem;
      padding-bottom:.35rem;
    }
} 
}
.dropdown-menu{
min-width:max-content;
overflow:hidden;
text-align: inherit;
}



@media screen and (min-width: 992px) {

#logo {
  width: 260px;
  position: relative;
}

.brownline-before{
  position: relative;
  padding-left: 40px;
 &::before{
  content:" ";
  position: absolute;
  left:calc(-0px - 0px);
  top:50%;
  vertical-align: middle;
  min-height: 3px;
  min-width: 26px;
  background: #D7BE69;
 }
}
}

/*Slider Scss starts*/
.no-radius{
  .card-group{
    .card{
      border-radius:0;
      border:none;
      display: flex;
      flex: 0 0 25%;
      img{
        border-radius:0;
        object-fit:cover;
        min-height:135px;
        max-height:135px !important;
      }
      .card-img-overlay-hover{
          height:100%;
          width:100%;
          background-color:rgba(50,50,50,0.5);
          transition:all .2s ease-in-out;
        .card-title{
          display:block;
          cursor:none;
          @media only screen and (max-width:1024px){
          font-size:1.5vw;
        }
        }
        
      }
      .card-title{
          display:none;
        }
    }
  }
}

/*Homepage Portfolio css*/
#filters li span {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #666;
    cursor: pointer;
}
#filters li span.active {
	font-weight:bold;
}
#portfoliolist {
    width: 100%;
    margin: 0 auto;
    display: block;
}

#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    overflow: hidden;
}
.portfolio img {
    width: 100%;
    height: 220px;
    position: relative;
    top: 0;
}

/*Footer*/
.footer {
	margin-top: 20px;

  .footer-top {
    .social {
      color: #202126;
      font-size: 15px;
      a {
        padding:2px;
      }
    }
    background: #fff;
    border-top: 1px solid #D5D5D5;
    font-size: 12px;
    text-transform: uppercase;
    padding: 20px;
    color: #717171;
  }
  .footer-bottom {
    background: #202126;
    color: #D5D5D5;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 26px;
  }
}


.margin-top-60{
  margin-top:60px !important;
}
.margin-bottom-60{
  margin-bottom:60px !important;
}

.negative-mt-4{
  margin-top: ($spacer * -1.5);
}


.workshop-container{
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  margin: 0 auto;
}

.workshop-card, .workshop-card-related{
  margin-bottom: 1.562rem;
  max-width: 350px;
  width: 100%;
  background-color: white;
  // border:1px solid rgba(9,8,9,.125);
  transition: box-shadow 0.5s ease;
  box-shadow: 0 3px 30px -5px rgba(0,0,0,0.16);
  border-radius:2%;
  padding:0;
  display:table;
  float: left;
  .card-body{
    .collapsing{
      transition: height .05s ease !important;
    }
  }
  hr{
        border: 0.5px solid #C2F284;
  }
  .border-card{
    border: 0.5px solid #C2F284 !important;
  }
&:hover{
  transition: box-shadow 0.5s ease;
  box-shadow: 0 3px 30px -3px rgba(0,0,0,0.16);
}
}





/*Agp-single page*/
.content-offset {
  margin-left: 7rem;
  @include media-breakpoint-down(lg){
    margin-left: 3rem;
  }
  @include media-breakpoint-down(sm){
    margin: 8.33333%;
  }
}


.workshop-single h3 {
	font-size: 24px;
	color: #707070;
}
.workshop-single h4 {
	font-size: 18px;
	color: #707070;
	margin-bottom: 30px;
	margin-top: 30px;
}
.workshop-single p {
	font-size: 16px;
	color: #404040;
}

.workshop-single .facilitator-details {
	padding: 10px;

}
.workshop-single .facilitator-details h5 {
	font-size: 15px;
	color: #707070;
}


.single-banner img {
  max-height:360px;
  object-fit: cover;
  object-position: center;
}
.row.offset > .col-md-4 {
	max-width: 29.33333%;
}

.workshop-description{
  h1,h2,h3,h4,h5,h6{
    color: #707070;
  }
  h1{
    font-size: calc(.60 * 2.5rem);
  }
  h2{
    font-size: calc(.60 * 2rem);
  }
  h3{
    font-size: calc(.60 * 1.75rem);
  }
  h4{
    font-size: calc(.60 * 1.5rem);
  }

}
.collapse-before {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
.collapse-before::before {
  //content: "\f068";
  content: "_";
	position: absolute;
	left: calc(0px - 0px);
	top: -48px;
	vertical-align: middle;
	color: #d7be69;
  font-size: 60px;
  font-family: fontawesome;
}
.collapse-before.collapsed::before {
  //content: "\f067";
  content: "+";
	position: absolute;
	left: calc(0px - 0px);
	top: -16px;
	vertical-align: middle;
	color: #d7be69;
  font-size: 60px;
  font-family: fontawesome;
}

.catColor-building-architecture{
  color: $brown;
  font-weight:400;
  font-style:italic;
}

/*Header search*/
.header-search {
	background: #ddd;
	box-shadow: inset 0 -.100rem .40rem -.200rem rgba(9, 8, 9, 0.15) !important;
	border-bottom: 1px solid #cdcdcd;
	min-height: 100px;
}
.header-search .form-group {
	background: #fff;
	padding: 4px 20px;
	border-radius: 40px;
}
.header-search input:focus {
  border:none !important;
  box-shadow: none !important;
}
.header-search input {
	width: 40vw !important;
}
.header-search .fa {
	font-size: 26px;
	color: #919191;
}
#search_drawer {
	transition: height 0.5s ease;
}



// Facilitators card styling in single workshop
#single-workshop-facilitators{
  .card{
    cursor: pointer;
    max-width: 235px;
  }
}

#single-workshop-unit{
  .card{
    img{
     object-fit: contain;
     object-position: center;
     min-height: 135px;
     max-height: 135px; 
    }
  }
}

//Single Workshop Accordio to work in ios

#accordionData{
  h3{
    cursor: pointer;
  }
}


//Single Workshop Tel Link
a[href^="tel:"]:before {
  content: "\f095";
  margin-right: 0.5em;
  font-family: FontAwesome;
}
a[href^="mailto:"]:before {
  content: "\f0e0";
  margin-right: 0.5em;
  font-family: FontAwesome;
}


//styling gravity forms
.gf-custom-style{
  .gform_page{
    flex-direction: column;
  }
}


//Table width set to 100% for single workshop page
.single-workshops{
  table{
    width: 100% !important;
  }
}



// Headroom specific styles
.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
 
  transform: translateY(0%);
}
.headroom--unpinned {
 
  transform: translateY(-100%);
}
.header--fixed {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0
}

.scrollable-content{
  display: flex !important;
  flex-direction: row!important;
  flex-wrap: nowrap !important;
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch !important;
  &::-webkit-scrollbar {
    display: none !important;
  }
  justify-content:start;
  align-items:center;
  .scrollable-cards{
    flex:0 0 100% !important;
  }
}
