// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$border-green:rgba(115, 216, 124, 0.5);
html{
   
  // margin-right: calc(100vw - 100%);
  transition:all 0.2s ease-in-out;
}
body {
margin: 0;
padding: 0;
// display:grid;
// justify-content:center;
// align-items:center;
height:100%;
min-height: 99vh;
// overflow-Y:scroll;
}
/*
  Admin Specific styles
*/
#wpwrap{
  background-color: #f1f1f1;
}
#admin-cards{
  font-size: 1em;
  .card{
    max-width: 100%;
  }
  .simple-dash-icons{
  font-size: 2em;
}
}
#adminmenu {
  li{
    color:white;
  }
}
/* Admin specific styles end */

*{
  margin:0;
  left:0;
  right:0;
}
.mobile-menu-parent.active-mobile{
  border-radius:0;
  transition:all 0s linear;
}
.mobile-menu-parent{
  overflow:hidden;
  z-index:99;
  border-radius:0;
  transition:all 0.3s linear;
.text-capital{
  text-transform:capitalize ;
}
.resize{
  min-height:35px !important;
  transition: all 0.5s ease-in-out;
}
  
 .menu-btn{
  background-color:white;
  border:0;
  width:50%;
  &:focus{
    outline:0 !important;
  }
}
  
  .side-arrow{
    &:after{
  font-family:'FontAwesome';
  content:"\f107";
      position:absolute;
  vertical-align:middle;
      margin-left:.5rem;
  transition:all 0.2s ease-in-out;
    }
  }

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active-mobile {
  transform: rotate(45deg);
}
.hamRotate180.active-mobile {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#bfbfbf;
  stroke-width:5.5;
  stroke-linecap:round;
}


.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active-mobile .top {
  stroke-dashoffset: -68px;
}
.ham4.active-mobile .bottom {
  stroke-dashoffset: -68px;
}

}
.desktop-resize{
  min-height:45px !important;
  transition: all 0.5s ease-in-out;
}
.wrapper{
  display:flex;
  justify-content:center;
  padding:2rem;
}
.card{
  border-radius:2%;
  img{border-radius:2% 2% 0 0;}
  .header a{
    color:#707070;
  }
  .btn-register{
    background-color:transparent;
    // &:hover{
    // }
  }
}
.text-muted{
  font-weight:400;
  font-style:italic;
}
a{
  text-decoration:none !important;
  color:inherit !important;
}
.card-body span.arrow:after{
  font-family:'FontAwesome';
  content:"\f106";
  vertical-align:middle; 
  transition:all 0.2s ease-in-out;
}


.card-body .collapsed span.arrow:after{
  font-family:'FontAwesome';
  content:"\f107";
  vertical-align:middle;
  transition:all 0.2s ease-in-out;
}

.container strong{color:rgba(0,0,0,0.4);}

@media only screen and (max-width:576px) {
  .card-body .footer{font-size:12.5px !important;}
  
  
}


@media only screen and (min-width:576px) and (max-width:1200px){
  .card-columns {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
        
    }
}

nav{
  
    & div {
      & ul {
        & li {
          a{
            color:#505050;
            transition:transform 0.2s ease-in-out;
            &:hover{       
              color:#909090;
               transform: scale(1.05);
               transition:transform 0.2s ease-in-out;
            }

          } 
        }
      }
    }
  .dropdown-menu{
  min-width:max-content;
  overflow-x:hidden;
  overflow-y:auto;
}
  }

.collapseDropDown {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: all .5s cubic-bezier(0, 1, 0, 1);
  &.showCollapse {
    // display: inherit;
    max-height: 99em;
    transition: max-height .5s ease-in-out !important;
  }
}


#nav-left, #nav-right{
  > ul {
    > li {
      line-height:2.75rem;
     @media screen and (min-width:1200px){
       min-width: 128.5px;
       text-align: center;
       
    } 
  }
    a{
      transition:all 0.5s linear;
    }
    }
  .resize {
        padding-top:.15rem !important;
        padding-bottom:.15rem !important;
        transition:all 0.5s linear;
      }
    
}

#nav-left{
  ul{
    li{
          border-right: 0.5px solid $border-green ;
      
          
    }
  }
}

#nav-right{
  ul {
    li{
      border-left:0.5px solid $border-green ;
      
    }
  }
}




@media screen and (min-width: 992px) {
  #logo {
    width: 260px;
    position: relative;
  }
}

.wrapper{
display:flex;
justify-content:center;
padding:2rem;
}
.card{
border-radius:2%;
img{border-radius:2% 2% 0 0;}
.header a{
  color:#707070;
}
.btn-register{
  background-color:transparent;
  
}
}
.text-muted{
font-weight:400;
font-style:italic;
}
a{
text-decoration:none !important;
color:inherit !important;
}
.card-body span.arrow:after{
font-family:'FontAwesome';
content:"\f106";
vertical-align:middle; 
transition:all 0.2s ease-in-out;
}


.card-body .collapsed span.arrow:after{
font-family:'FontAwesome';
content:"\f107";
vertical-align:middle;
transition:all 0.2s ease-in-out;
}

.container strong{color:rgba(0,0,0,0.4);}

@media only screen and (max-width:520px) {
.card-body .footer{font-size:12.5px !important;}

}

@media (min-width: 576px) and (max-width: 767.98px){
  .card-columns{
  column-count: 1;
    
}
}

@media (min-width: 768px) and (max-width: 991.98px){
.card-columns{
  column-count: 2;
  font-size:12.5px;
}
}

nav{
  & div {
    & ul {
      & li {
        a{
          color:#505050;
          transition:transform 0.2s ease-in-out;
          &:hover{       
            color:#909090;
             transform: scale(1.05);
             transition:transform 0.2s ease-in-out;
          }

        } 
      }
    }
  }
}


#nav-left, #nav-right{
> ul {
  
  .resize {
      padding-top:.35rem;
      padding-bottom:.35rem;
    }
} 
}
.dropdown-menu{
min-width:max-content;
overflow:hidden;
}



@media screen and (min-width: 992px) {

#logo {
  width: 260px;
  position: relative;
}

.brownline-before{
  position: relative;
 &::before{
  content:" ";
  position: absolute;
  left:calc(-26px - 25px);
  top:50%;
  vertical-align: middle;
  min-height: 3px;
  min-width: 26px;
  background: #D7BE69;
 }
}
}

/*Slider Scss starts*/
.no-radius{
  .card-group{
    .card{
      border-radius:0;
      border:none;
      display: flex;
      flex: 0 0 25%;
      img{
        border-radius:0;
        object-fit:cover;
        min-height:135px;
        max-height:135px !important;
      }
      .card-img-overlay-hover{
          height:100%;
          width:100%;
          background-color:rgba(50,50,50,0.5);
          transition:all .2s ease-in-out;
        .card-title{
          display:block;
          cursor:none;
          @media only screen and (max-width:1024px){
          font-size:1.5vw;
        }
        }
        
      }
      .card-title{
          display:none;
        }
    }
  }
}

/*Homepage Portfolio css*/
#filters li span {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #666;
    cursor: pointer;
}
#filters li span.active {
	font-weight:bold;
}
#portfoliolist {
    width: 100%;
    margin: 0 auto;
    display: block;
}

#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    overflow: hidden;
}
.portfolio img {
    width: 100%;
    height: 220px;
    position: relative;
    top: 0;
}

/*Footer*/
.footer {
	margin-top: 20px;

  .footer-top {
    .social {
      color: #202126;
      font-size: 15px;
      a {
        padding:2px;
      }
    }
    background: #fff;
    border-top: 1px solid #D5D5D5;
    font-size: 12px;
    text-transform: uppercase;
    padding: 20px;
    color: #717171;
  }
  .footer-bottom {
    background: #202126;
    color: #D5D5D5;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 26px;
  }
}
