// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


// Thats a sample how you could change a BootStrap variable.
$logo-green:#95c11f;
$border-green:rgba(115, 216, 124, 0.5);


$black:     #090809;

$blue:    #2274A5;
$red:     #EA2B1F; 
$orange:  #FF4E00;
$yellow:  #ffc107;
$green:   #95c11f;
$pink:    #F61067;

$transition-collapse:         height .05s ease !default;


$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
"Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol";